/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 36px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-desc {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
/* header related style */
.header {
  background-color: #fff8f3;
}
.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  height: 540px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 85px;
  font-weight: 700;
}
.banner-disc {
  margin-bottom: 25px;
}
/* main sections style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section style */
.about {
  padding: 130px;
  background-color: #fff8f3;
  border-radius: 10px;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.into-title {
  color: #757575;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
}
.info-desc {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #181818;
}
/* what I do ralted skills */
#what-I-do-desc {
  margin: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 1px 1px 10px rgba(71, 71, 71, 0.336);
}
